<form (ngSubmit)="createGame()">
  <!-- component -->
  <div class="min-h-screen bg-gray-100 py-6 flex flex-col sm:py-12">
    <div class="relative w-full py-3 sm:max-w-xl sm:mx-auto">
      <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
        <div class="max-w-md mx-auto">
          <div>
            <h1 class="text-2xl text-center font-semibold break-words">Création de la fiche pour le jeu {{newGame.titre}}</h1>
          </div>
          <div class="divide-y divide-gray-200">
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <div class="relative">
                <input id="titre" [(ngModel)]="newGame.titre" name="titre" type="text" required class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Titre du jeu" />
                <label for="titre" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Titre</label>
              </div>
              <div class="relative">
                <input id="genre" [(ngModel)]="newGame.genre" name="genre" type="text" required class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Genre" />
                <label for="genre" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Genre</label>
              </div>
              <div class="relative">
                <input id="popularite" [(ngModel)]="newGame.popularite" name="popularite" type="text" required class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Popularité" />
                <label for="popularite" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Popularité</label>
              </div>
              <div class="relative">
                <input id="note_utilisateur" [(ngModel)]="newGame.note_utilisateur" name="note_utilisateur" type="text" required class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Note utilisateur" />
                <label for="note_utilisateur" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Note utilisateur</label>
              </div>
              <div class="relative">
                <input id="nombre_vote" [(ngModel)]="newGame.nombre_vote" name="nombre_vote" min="0" type="number" required class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Nombre vote" />
                <label for="nombre_vote" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Nombre vote</label>
              </div>
              <div class="relative">
                <textarea id="histoire" [(ngModel)]="newGame.histoire" name="histoire" required class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Résumé"></textarea>
                <label for="histoire" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Résumé</label>
              </div>
              <div class="relative">
                <input id="annee_sortie" [(ngModel)]="newGame.annee_sortie" name="annee_sortie" type="text" required class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Année de sortie" />
                <label for="annee_sortie" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Année sortie</label>
              </div>
              <div class="flex justify-center">
                <button class="bg-blue-500 text-white rounded-md px-2 py-1">Créer le jeu</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<button class="bg-blue-700 border-2 rounded-lg p-2 hover:bg-blue-900 text-white">
  <a routerLink="/games">Retour</a>
</button>
